.body{
    display: flex;
    background-color: #FAFAFA;
    position: relative;
    justify-content: center;
    top: 10vh;
    // height: 100vh;
}

.heading {
    display: flex;
    position: relative;
    margin-top: 10px;
    justify-content: center;
    // height: 100%;
    font-size: 3vw;
}

.body_wrong{
    width: 80vw;
    justify-content: center;
}

p.pass{
    color: #009A06;
}

p.fail{
    color: #CE0000;
}

.box.pass{
    border: solid;
    border-color: #009A06;
    border-width: 2.5px;
    border-radius: 20px;
}

.box.fail{
    border: solid;
    border-color: #CE0000;
    border-width: 2.5px;
    border-radius: 20px;
}

.show_head{
    display: flex;
    position: relative;
    top: 30px;
    justify-content: space-between;
    // background-color: pink;
}

.show_head .box{
    display: flex;
    position: relative;
    height: 22vh;
    width: 25vw;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: 0px 3px rgb(0, 0, 0,0.1);
    background-color: white;
}

.one_realtime{
    transition: all 1s;
    justify-content: center;
}

.one_realtime p:nth-child(1){
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 25px;
    color: black;
}

.one_realtime p:nth-child(2){
    display: flex;
    align-items: center;
    font-size: 60px;
    transition: all 1s;
}

.today_pass {
    // transition: all 1s;
    justify-content: center;
}

.today_pass p:nth-child(1){
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 35px;
}

.today_pass p:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.today_pass p:nth-child(3){
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-100%,-100%);
    font-size: 20px;
    color: grey;
}

.today_fail {
    // transition: all 1s;
    justify-content: center;
}

.today_fail p:nth-child(1){
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 35px;
}

.today_fail p:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.today_fail p:nth-child(3){
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-100%,-100%);
    font-size: 20px;
    color: grey;
}

/*
    detail_data
*/
.over_all{
    display: flex;
    position: relative;
    top: 6%;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px rgb(0,0,0,0.1);
    border-color: #CCCCCC;
    width: 80vw;
    height: 63vh;
    // justify-content: space-between;
    flex-direction: column;
}

.over_all .header{
    margin-top: 1%;
    margin-left: 2%;
    font-size: 50px;
}

/*
    START::overall -> tag
*/

.over_all .tag{
    display: flex;
    position: relative;
    // margin-top: 2%;
    top: 3%;
    margin-left: 2%;
    flex-direction: row;
}

.over_all .tag .fron{
    width: 1%;
    // height: 6vh;
    // border-bottom-left-radius: 20px;
    // border-top-left-radius: 20px;
    // background-color: #009A06;
    // z-index: 99;
}

.over_all .tag .center_tag{
    width: 97%;
    height: 6vh;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // background-color: white;
    font-size: 16px;
}

.over_all .tag .center_tag .id{
    width: 12.5%;
    margin-left: 20px;
    color: grey;
}

.over_all .tag .center_tag .children{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.over_all .tag .center_tag .children p{
    display: flex;
    width: 10%;
    justify-content: center;
    color: grey;
    margin-right: 10%;
}

.over_all .tag .center_tag .children p:nth-child(4){
    margin-right: 5% !important;
}

/*
    END::overall -> tag
    &&
    START::overall -> detail
*/

.over_all .detail{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row;
    background-color: transparent;
}

.over_all .detail .front{
    position: absolute;
    top: 0px;
    left: -0.3px;
    width: 1%;
    height: 8vh;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    // background-color: red;
    z-index: 99;
}

.dens_pass{
    background-color: #009A06;
}

.dens_fail{
    background-color: #CE0000;
}

.over_all .detail .center_detail{
    width: 99%;
    height: 8vh;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 20px;
}

.over_all .detail .center_detail .id{
    margin-left: 20px;
    width: 12%;
}

.over_all .detail .center_detail .children{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.over_all .detail .center_detail .children p{
    display: flex;
    width: 10%;
    justify-content: center;
    margin-right: 10%;
}

.over_all .detail .center_detail .children p:nth-child(4){
    margin-right: 5% !important;
}

/*
    END::overall -> detail
*/